<h1>{{title}}</h1>

<div class="element">
  <div class="element-left">

    <app-left-view (onChanged)="onChanged($event)" [index]="index" [description]="description" ></app-left-view>

  </div>

  <div class="element-right">
    <app-temperature [index]="index" [description]="description"> </app-temperature>
    <app-teddy [index]="index"  [description]="description"></app-teddy>
  </div>

  <div class="clear"> </div>
</div>

<div class="copy-right">
  <p>{{copyRight}}<a href='http://w3layouts.com/' target="_blank">{{linkSign}}</a></p>
</div>



